body {
    background-color: black;
}
.home
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.home p{
    color: yellow;
}
.home__banner
{  
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
    height: 100%;
}
.home__background
{
    margin: 0;
    width: 100%;
    position: relative;
}
.home__background img{
    margin:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.home__quiz
{
    background-color: 00000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin: 0;
    width: 100%;
    height: 100%;
}
.home__quiz__content
{
    border: solid yellow;
    margin: 0;
    width: 33%;
    height: 100%;
}
.home__quiz__image
{
    margin:0;
    height: 100%;
    width: 33%;
}
.home__quiz__image img
{
    margin:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
br
{
    clear: both;
}
.home__wiki
{

    display: flex;
    flex-direction: reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin: 0;
    width: 100%;
    height: 100%;
}
.home__wiki__image
{
    margin:0;
    height: 100%;
    width: 33%;
}
.home__wiki__image img{
    margin:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
.home__wiki__content
{
    border:solid yellow;
    margin: 0;
    width: 33%;
    height: 100%;
}
