.quiz {
  height: 100vh;
  min-height: 800px;

  display: flex;
  flex-direction: column;

  padding-top: 50px;

  &__progress {
    display: flex;
    justify-content: center;

    padding: 10px;
    padding-bottom: 25px;

    gap: 15px;

    border-bottom: 1px solid $primary-color;
  }

  &__progress-item {
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid #ffffff;
    border-radius: 100%;

    box-sizing: border-box;
  }

  &__icon {
      width: 75%;

      stroke: $primary-color;
  }

  &__title {
      margin-bottom: 50px;

      font-size: 72px;
      text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1;

    &--centered {
        align-items: center;
        justify-content: center;
    }
  }

  &__game-head {
      display: flex;
      flex-direction: column;

      gap: 15px;
  }

  &__game-separator {
      width: 80%;
      max-width: 200px;
      height: 2px;

      margin: 20px 0;

      background-color: $primary-color;
  }

  &__game-answers {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      margin-bottom: 20px;

      gap: 10px;
  }

  &__game-answer {
    background-color: rgba(104, 104, 104, 0.685);

    border-radius: 4px;
    border: 1px solid $primary-color;

    label {
        padding: 10px;
        display: block;
    }

    input {
        display: none;
    }
  }

  &__footer {
    padding: 25px 0;

    border-top: 1px solid $primary-color;
  }

  &__footer-link {
    display: flex;
    align-items: center;

    gap: 10px;

    svg {
        width: 25px;
    }
}
}
